/*Main styles*/

body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: #ffffff;
}

.page-logo {
    color: #4d5ae5;
    font-family: var(--fontlogo);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.page-logo-color {
    color: #2e2f42;
}
/* Reset styles */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}


    img {
        display: block;
        max-width: 100%;
        height: auto;
      }


.link {
    text-decoration: none;
}


:root {
    --navyblue: #2e2f42;
    --iris: #4d5ae5;
    --white: #fff;
    --ocean: #404bbf;
    --green: #31d0aa;
    --slate: #434455;
    --lightslate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navybluemodal: #2e2f42;
    --grey: #2e2f42;
    --dairy: #fcfcfc;
    --fontlogo: "Raleway", sans-serif;
}

.list {
    list-style: none;
}
.header-container {
    display: flex;
    
}
.header-menu-item {
    padding-bottom: 24px;
    padding-top: 24px;
}
.header-menu-list {
    display: flex;
    gap: 40px;
}
 .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  
 }
 .header-navigation {
    display: flex;
    align-items: center;
 }
  
.header-menu-link {
    color: var(--navyblue);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 24px;
    padding-top: 24px;
}
.page-header{ 
    border-bottom: 1px solid #e7e9fc;
}
.header-menu-link:hover,
.header-menu-link:focus {
    color: var(--ocean);
}

.header-contacts {
    font-style: normal;
    margin-left: auto;
}

.header-contacts-link {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.header-contacts-list {
    display:flex;
    gap: 40px;
}
.header-contacts-item {
    padding: 24px 0;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: var(--ocean);
}
.header-contacts-link {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.main-banner {
    background-color: var(--navyblue);
    padding: 188px 0;
    
}
.main-banner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-banner-title {
    color: var(--white);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  max-width: 496px;
  
}

.main-banner-button {
    color: var(--white);
    background-color: var(--iris);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
  
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.main-banner-button:hover,
.main-banner-button:focus {
    background-color: #404bbf;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.section-advatages {
    padding: 120px 0;
}

.advantages-list {
    display: flex;
    gap: 24px;
}

.advantages-item {
    width: calc((100% - 24px * 3) / 4);
}

.advantages-subtitle {
    color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.advantages-text {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



/*Team Section 4*/

.section-team {
    background: var(--cloud);
    padding: 120px 0;
  }
  
  .section-team-title {
    color: var(--navyblue);
    text-align: center;
    /* Header 2 */
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  
  .section-team-list {
    display: flex;
    gap: 24px;
  }
  
  .section-team-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  
    width: calc((100% - 24px * 3) / 4);
  }
  
  .section-item-wrap {
    padding: 32px 0;
  }
  
  .section-team-subtitle {
    color: var(--navyblue);
    text-align: center;
    margin-bottom: 8px;
    /* Header 3 */
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  
  .section-team-text {
    color: var(--slate);
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* Footer */

.page-footer {
  background: var(--navyblue);
  padding: 100px 0;
}

.page-footer-logo {
    color: #4d5ae5;
    font-family: var(--fontlogo);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-color {
    color: #f4f4fd;
}

.page-footer-text {
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

/* Portfolio */
.portfolio-section {
    padding:120px 0 120px 0;
}


.portfolio-about-link {}

.portfolio-about-list {
    display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-card-item {
    padding: 32px 16px;
    border-top: none;
    border: 1px solid #e7e9fc;
}
.section-portfolio-item {
    margin-bottom: 72px;
}
.portfolio-about-item {
    border: 1px solid var(--cornflower);
    background: var(--white);
    width: calc((100% - 24px * 2) / 3);
}

.portfolio-about-title {
    color: #2e2f42;
    /* Header 2 */
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-about-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-portfolio-title {
    margin-bottom: 8px;

}
.portfolio-card-content {
    padding: 32px 16px;
   border: 1px solid #e7e9fc;
}