body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

:root {
    --cl--iris: #4d5ae5;
    --cl--ocean: #404bbf;
    --cl--navy-blue: #2e2f42;
    --cl--green: #31d0aa;
    --cl--slate: #434455;
    --cl--light-slate: #8e8f99;
    --cl--cornflower: #e7e9fc;
    --cl--cloud: #f4f4fd;
    --cl--navy-blue-modal: #2e2f42;
    --cl--grey: #2e2f42;
    --cl--white: #ffffff;
    --cl--dairy: #fcfcfc;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* webstudio */
.web-design {
    color: #2e2f42;

}

.web-header {
    display: flex;
    width: 1440px;
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid var(--cornflower, #E7E9FC);
    background: var(--white, #FFF);
}

.web-link {
    color: #4d5ae5;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17em;
    letter-spacing: 0.54px;
    text-transform: uppercase;


}

.logo {
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;

}

.web-list {
    color: var(--cl--navy-blue);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    display: flex;
}

.web-navigation {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}

.web-item {
    color: #2E2F42;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.web-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0, 02em;
    color: #2e2f42;
}

.web-item-link:hover {
    color: #404bbf;
}

.web-item-link:focus {
    color: #404bbf;
}

.web-address {
    font-style: normal;
}

/* webstudio */

/* address */

.address-list {
    display: flex;

}

.address-item-link:focus {
    color: #404bbf;
}

.address-item-link:hover {
    color: #404bbf;
}

.address-item {
    color: var(--cl--slate);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.address-item-link {
    color: var(--slate, #434455);


    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding-left: 40px;
}


/* address */

/* main */

.main {}

/* main */

/* effective */
.effective {}

.effective-title {}

.effective-btn {}

/* effective */

/* advantages */

.advantages {}

.advantages-title {}

.advantages-list {}

.advantages-item {}

.advantages-subtitle {}

.advantages-descr {}

/* advantages */

/* portfolio */
.portfolio {}

.portfolio-subtitle {}

.portfolio-list {}

.portfolio-item {}

.portfolio-img {}

/* portfolio */

/* team */
.team {}

.team-title {}

.team-list {}

.team-item {}

.team-img {}

.team-subtitle {}

.team-descr {}

/* team */

/* footer */

.footer {}

.footer-link {}

/* footer */
/* port */

.port {
    width: 1440px;
    height: 2076px;
    background: --cl--white;
}

.port-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}

.port-item {}

.port-btn {
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
}

.port-btn:hover {
    background: #404BBF;
}

.port.btn:focus {

    background: #404BBF;

}

.port-list-item {}

.port-item-img {
    display: flex;
    width: 360px;
    height: 420px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
}

.port-img {}

/* port */